body {
    margin: 0;



}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FDEDED;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rosybrown;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgba(206, 132, 186, 0.91);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #FDEDED;
    color: rosybrown;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}



h1 {
    font-family: cursive;
    color: #E2A244;
    text-align: center;
    text-shadow: 1px 1px 1px #2D3A2A;

}



img {
    width: 100%;
}


section {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0;

}

#animation_section {

    overflow-x: hidden;
    max-width: 1200rem;

}





h4 {
    font-family: 'Rock Salt';

    color: burlywood;
    font-size: 1.3rem;

}




.mySlides {
    position: relative;
    top: -390.6vw;
    border-radius: 14vw;
    left: 2.5vw;
    width: 95%;
}


.button {
    position: relative;
    left: 4vw;

    top: -184vw;
    max-width: 30%;

}

.note {
    position: relative;

    top: -19vw;
    left: 6vw;

}

.note2 {
    position: relative;
    top: -120vw;
    left: 32vw;
}

#tekst {
    position: relative;
    top: -206vw;
    left: 45vw;
    font-family: 'Covered By Your Grace', cursive;
}

#tekst1 {
    position: relative;
    top: -212.5vw;
    left: 68.6vw;
    font-family: 'Covered By Your Grace', cursive;
}

#footer {
    position: relative;
    bottom: 281.2vw;
    background-color: #fdf9f9;
}

#footer p {
    display: flex;
    justify-content: center;
    color: #cec5c9;


}





/*------------------ web----------------------*/
@media only screen and (min-width: 600px) {






    body {
        overflow: hidden;
    }




    #footer {
        position: relative;
        top: -66vw;
    }

    #footer p {
        display: flex;
        justify-content: center;


    }


    h1 {
        font-family: cursive;
        color: #E2A244;
        text-align: center;
        text-shadow: 1px 1px 1px #2D3A2A;
        font-size: 3rem;

    }





    img {
        max-width: 100%;
        height: auto;
    }

    section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }




    #animation_section .animation_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 120px;
        /*        padding: 90px -40px;*/
        margin-left: 90px;

    }

    #animation_section .animation_box .col {
        margin-right: 5vw;
    }



    .button {
        position: relative;
        left: 53vw;

        top: -50vw;
        max-width: 15%;



    }



    .bill {

        width: 35vw;
    }

    .mySlides {
        position: relative;
        top: -84.7vw;
        width: 39%;
        border-radius: 2vw;
        left: -1vw;

    }



    #tekst {
        position: relative;
        top: -55vw;
        left: 66.6vw;
        font-family: 'Covered By Your Grace', cursive;
    }

    #tekst1 {
        position: relative;
        top: -57.5vw;
        left: 77.6vw;
        font-family: 'Covered By Your Grace', cursive;
    }




    .note {
        position: relative;

        top: -26vw;
        left: 50vw;

    }



    .note2 {
        position: relative;
        top: -26vw;
        left: 10vw;
    }





}
