body {
    margin: 0;
    background-color: rgba(234, 218, 222, 0.62);


}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FDEDED;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rosybrown;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgba(206, 132, 186, 0.91);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #FDEDED;
    color: rosybrown;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;

}


img {
    max-width: 100%;
    height: auto;
}



h2 {
    font-family: cursive;
    color: #E2A244;
    text-align: center;
    text-shadow: 1px 1px 1px #2D3A2A;
    font-size: 2rem;

}

h3 {
    font-family: 'Rock Salt';
    color: #E2A244;
    text-align: center;
    text-shadow: 1px 1px 1px #2D3A2A;
    font-size: 2rem;
}

h4 {
    font-family: 'Rock Salt';

    color: burlywood;
    font-size: 1.3rem;

}

#indhold_section .indhold_box .col {
    padding: 40px;
    background-color: #fff6fa;
}

#indhold_section2 .indhold_box2 .col {
    padding: 40px;

}

#indhold_section2 {
    overflow: hidden;
    height: 80rem;
}

.note {
    position: relative;
    top: 10vw;
    left: 7vw;
    width: 35vw;
}


.note1 {
    position: relative;
    top: -42vw;
    left: 46vw;
    width: 35vw;

}

#footer {
    position: relative;
    top: 3.8vw;
    background-color: #fdf9f9;
}

#footer p {
    display: flex;
    justify-content: center;
    color: #cec5c9;


}

#tekst {
    position: relative;
    top: -16vw;
    left: 9vw;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 1.2rem;


}


#tekst1 {
    position: relative;

    top: -70vw;
    left: 54vw;

    font-family: 'Covered By Your Grace', cursive;
    font-size: 1.5rem;


}


/*------------------ web----------------------*/
@media only screen and (min-width: 600px) {




    img {
        max-width: 100%;
        height: auto;
    }

    #footer {
        position: relative;
        top: 1.8vw;
    }

    #footer p {
        display: flex;
        justify-content: center;


    }

    #tekst {

        position: relative;
        top: -11vw;
        left: 56vw;

        font-size: 1.4rem;


    }

    #tekst1 {
        position: relative;
        top: -32vw;
        left: 73vw;
        font-size: 1.5rem;


    }


    #indhold_section {
        height: 52rem;


    }



    #indhold_section .indhold_box {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin-left: 42px;
        column-gap: 8vw;
        padding: 0px;
        overflow: hidden;



    }

    #indhold_section .indhold_box p {
        /*        font-size: 2rem;*/
    }

    #indhold_section2 {

        height: 48rem;
        overflow-x: hidden;
        max-width: 1200rem;




    }


    #indhold_section2 .indhold_box2 {
        display: grid;
        grid-template-columns: 1fr 1fr;

        margin-left: 42px;
        column-gap: 8vw;
        padding: 0px;
        height: 45rem;
        overflow: hidden;

    }




    .note {
        position: relative;
        top: -2vw;
        left: 55vw;
        width: 14vw;


    }



    .note1 {
        position: relative;
        top: -22.5vw;
        left: 70vw;
        width: 14vw;
    }



    .video {

        padding-top: 11vw;


    }


    .video2 {
        padding-top: 6vw;

    }
}
