body {
    margin: 0;
    background-image: url(billeder/baggrund.jpg);
    background-position: right;
}

header {
    position: relative;
    height: 0;
}



header img {
    width: auto;
    display: block;
}


#header nav {
    height: 4vh;
    padding: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.7rem;
    text-align: right;
    display: inline-block;
    justify-content: space-around;
    font-family: 'Rock Salt', cursive;


}

#header nav a {
    position: relative;
    display: inline-block;
    padding: 7px;
    /*        background-color: papayawhip;*/
    width: 100px;
    padding: 8px 40px;
    margin: -33px;
    border-radius: 20px;
    text-align: center;
    max-width: 1200rem;
    color: burlywood;

    left: -6vw;
    top: -3.8vw;

    column-gap: 20px;
}

nav a:hover {
    background-color: papayawhip;
}

nav a:first-child {
    display: inline;
}



h1 {
    font-family: cursive;
    color: #E2A244;
    text-align: center;
    text-shadow: 1px 1px 1px #2D3A2A;
    font-size: 1.24rem;
}


img {
    width: 100%;
}

section {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0;

}

#second_section {

    overflow-x: hidden;
    max-width: 1200rem;

}



#second_section .section_wrapper {

    padding: 7px 2px;
    margin: 30px;
}


#second_section h2 {
    font-family: cursive;
    color: #E2A244;
    text-align: center;
    text-shadow: 1px 1px 1px #2D3A2A;
    font-size: 2rem;
}

#second_section .section_wrapper h4 {
    font-family: 'Rock Salt', cursive;
    color: burlywood;
    font-size: 1.3rem;



}



/*------------------ web----------------------*/
@media only screen and (min-width: 600px) {






    #header nav {
        height: 4vh;
        padding: 1.2rem;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.2rem;
        text-align: right;
        display: inline-block;
        justify-content: space-around;

    }

    #header nav a {
        position: relative;
        display: inline-block;
        padding: 7px;
        width: 100px;
        padding: 8px 40px;
        margin: -7px;
        border-radius: 20px;
        text-align: center;
        max-width: 1200rem;
        color: burlywood;


        left: 11vw;
        top: -0.8vw;
        column-gap: 20px;


    }

    nav a:hover {
        background-color: #FED8F5;
    }




    h1 {
        font-family: cursive;
        color: #E2A244;
        /*        text-shadow: 1px 1px 1px #2D3A2A;*/
        font-size: 1.7rem;

    }



    img {
        max-width: 100%;
        height: auto;
    }

    section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }



    #second_section .section_wrapper {

        display: grid;
        grid-template-columns: 2fr 2fr;
        column-gap: 10px;
        padding: 67px;
        margin-right: 120px;
    }

    #second_section .section_wrapper .bill {
        display: grid;

        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
        padding: 30px;
        margin-right: 120px;
        position: relative;
        left: 100px;

        top: -4vw;

    }



}
