body {
    margin: 0;
}

header {
    position: relative;
    height: 0;
}



header img {
    width: auto;
    display: block;
}



#header nav {
    height: 4vh;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.60rem;
    text-align: right;
    display: grid;
    /*     flex-direction: row;*/
    justify-content: space-around;
    grid-row-gap: 5px;
    grid-template-columns: 1fr;
    font-family: 'Rock Salt', cursive;


}

#header nav a {
    position: relative;
    left: 5vw;
    top: 94.2vw;
    display: inline-block;
    padding: 2px;
    /*     background-color: papayawhip;*/
    width: 100px;
    padding: 3px 25px;
    margin: 2px;
    border-radius: 120px;
    text-align: center;
    max-width: 1200rem;
    color: burlywood;
}

nav a:hover {
    background-color: papayawhip;
}

nav a:first-child {
    display: inline;
}

#first_section {
    width: 100%;
    height: 100vh;
    background-image: url(Baggrund_mobil.jpg);
    background-size: cover;
    background-position: 25% 10%;
    max-width: none;
    display: grid;
    background-position: 70%;



    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;


}

#first_section nav {
    position: relative;
    top: 3vw;
}

h1 {
    font-family: cursive;
    color: #E2A244;
    text-align: center;
    text-shadow: 1px 1px 1px #2D3A2A;
    font-size: 1.24rem;
}

#first_section .section_wrapper .overskrift {
    position: relative;
    left: 8vw;
    top: 86.2vw;
}

img {
    width: 100%;
}

section {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0;

}


/*------------------ web----------------------*/
@media only screen and (min-width: 600px) {




    #first_section {
        width: 100%;
        height: 100vh;
        background-image: url(Bagggrund_web.jpg);
        background-size: cover;
        max-width: none;
        background-position: 20%;


        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

    }

    #header nav {
        height: 4vh;
        padding: 1.2rem;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.2rem;
        text-align: right;
        display: inline-block;
        justify-content: space-around;

    }

    #header nav a {
        position: relative;
        display: inline-block;
        padding: 7px;
        /*        background-color: papayawhip;*/
        width: 100px;
        padding: 8px 40px;
        margin: -7px;
        border-radius: 20px;
        text-align: center;
        max-width: 1200rem;
        color: burlywood;

        left: 7vw;
        top: 48.2vw;

        column-gap: 20px;


    }

    nav a:hover {
        background-color: #FED8F5;
    }




    h1 {
        font-family: cursive;
        color: #E2A244;
        /*        text-shadow: 1px 1px 1px #2D3A2A;*/
        font-size: 1.7rem;

    }

    #first_section .section_wrapper .overskrift {
        position: relative;
        left: -1.2vw;
        top: 33.2vw;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }





}
