body {
    margin: 0;
    background-color: rgba(234, 218, 222, 0.62);



}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FDEDED;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rosybrown;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgba(206, 132, 186, 0.91);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #FDEDED;
    color: rosybrown;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}





h1 {
    font-family: cursive;
    color: #E2A244;
    text-align: center;
    text-shadow: 1px 1px 1px #2D3A2A;
    font-size: 2rem;


}



img {
    width: 100%;
}


section {
    /*    max-width: 1200px;*/

    margin: 0 auto;
    padding: 0;

}

#ux_section {


    overflow: hidden;
    height: 80rem;


}

#ux_section .ux_box .col {

    padding: 40px;

}


#footer {
    position: relative;
    bottom: -4vw;
    background-color: #fdf9f9;
}

#footer p {
    display: flex;
    justify-content: center;
    color: #cec5c9;


}

h4 {
    font-family: 'Rock Salt';

    color: burlywood;
    font-size: 1.3rem;

}

.mySlides {
    position: relative;
    bottom: 305.1vw;
    width: 35.4%;
    left: 34.6vw;
}

.bill1 {



    left: -6.2vw;
    bottom: -3.6vw;
    position: relative;
    width: 117%;

}

.note {
    position: relative;
    left: 1vw;
    top: -6.5vw;
    width: 30%;

}

.note1 {
    position: relative;
    left: 28vw;

    top: -40.7vw;
    width: 30%;

}

.note2 {
    position: relative;
    left: 52vw;
    top: -75.2vw;
    width: 30%;

}

.container .tekst {
    position: relative;
    top: -20vw;
    left: 9vw;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 1.5rem;




}

.container .tekst1 {
    position: relative;
    top: -53vw;
    left: 31vw;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 1.5rem;




}

.container .tekst2 {
    position: relative;
    top: -88vw;
    left: 59vw;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 1.8rem;


}








/*------------------ web----------------------*/
@media only screen and (min-width: 600px) {







    body {
        overflow: hidden;

        background-image: url(billeder/b.jpg);
        background-color: rgba(234, 218, 222, 0.62);


    }





    #footer {
        position: relative;
        bottom: 39.2vw;
    }

    #footer p {
        display: flex;
        justify-content: center;


    }


    h1 {
        font-family: cursive;
        color: #E2A244;
        text-align: center;
        text-shadow: 1px 1px 1px #2D3A2A;
        font-size: 3rem;

    }





    img {
        max-width: 100%;
        height: auto;
    }

    section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0px;
    }


    #ux_section .ux_box .col {

        padding: 0px;

    }



    #ux_section .ux_box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        margin-left: -70px;

    }




    .bill1 {

        grid-column: 1/2;
        grid-row: 1/2;
        width: 46.2vw;
        left: 0.35vw;
        bottom: 6.6vw;
        position: relative;

    }

    #ux_section .ux_box .col {
        grid-column: 2/4;
        grid-row: 1/2;
        position: relative;
        left: -4vw;

    }

    .mySlides {
        position: relative;
        bottom: 68.4vw;
        width: 17%;
        left: 11.56vw;

    }



    .container .tekst {
        position: relative;
        top: -8vw;
        left: 2vw;
        font-family: 'Covered By Your Grace', cursive;
        font-size: 2.5rem;

    }

    .container .tekst1 {
        position: relative;
        top: -22.8vw;
        left: 12.2vw;
        font-family: 'Covered By Your Grace', cursive;
        font-size: 2rem;


    }


    .container .tekst2 {
        position: relative;
        top: -38vw;
        left: 25.2vw;
        font-family: 'Covered By Your Grace', cursive;
        font-size: 2.5rem;


    }




    .note {
        position: relative;
        left: 0vw;

        top: -1vw;
        width: 30%;
    }


    .note1 {
        position: relative;
        left: 11.5vw;

        top: -16vw;
        width: 30%;
    }

    .note2 {
        position: relative;
        left: 23.4vw;

        top: -30.5vw;
        width: 30%;
    }

    #diasshow {
        height: 30vw;
    }




}
