body {
    margin: 0;
    background-image: url(billeder/baggrund.jpg);
    background-position: 110%;
    /*    overflow: hidden;*/

}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FDEDED;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: rosybrown;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: rgba(206, 132, 186, 0.91);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #FDEDED;
    color: rosybrown;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

/*

header {
    position: relative;
    height: 0;
}



header img {
    width: auto;
    display: block;
}


#header nav {
    height: 4vh;
    padding: 1.2rem;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 0.7rem;
    text-align: right;
    display: inline-block;
    justify-content: space-around;
    font-family: 'Rock Salt', cursive;


}

#header nav a {
    position: relative;
    display: inline-block;
    padding: 7px;
            background-color: papayawhip;
    width: 100px;
    padding: 8px 40px;
    margin: -33px;
    border-radius: 20px;
    text-align: center;
    max-width: 1200rem;
    color: burlywood;

    left: -6vw;
    top: 0.2vw;

    column-gap: 20px;


}


nav a:hover {
    background-color: papayawhip;
}

nav a:first-child {
    display: inline;
}


*/


h1 {
    font-family: cursive;
    color: #E2A244;
    text-align: center;
    text-shadow: 1px 1px 1px #2D3A2A;
    font-size: 1.24rem;
}



img {
    width: 100%;
}

section {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0;

}




#third_section {

    overflow-x: hidden;
    max-width: 1200rem;
    padding: 60px 30px;


}

#third_section .section_wrapper .bill {

    column-gap: 0px;
    margin-left: 0px;

    width: 100%;


}

.js {
    position: relative;
    top: -35vw;
    left: 1vw;

}

#third_section #tekst {

    position: relative;

    top: -17.5vw;
    left: 1vw;


}

/*
#third_section .section_wrapper {

    padding: 10px 50px;
    margin-left: 10px;
}
*/



/*
#third_section h2 {
    font-family: cursive;
    color: #E2A244;
    text-align: center;
    text-shadow: 1px 1px 1px #2D3A2A;
    font-size: 2rem;
}
*/

#third_section .section_wrapper h4 {
    font-family: 'Rock Salt';
    color: burlywood;
    font-size: 1.3rem;


}




/*------------------ web----------------------*/
@media only screen and (min-width: 600px) {



    body {
        overflow: hidden;
    }

    nav a:hover {
        background-color: #FED8F5;
    }




    h1 {
        font-family: cursive;
        color: #E2A244;
        /*        text-shadow: 1px 1px 1px #2D3A2A;*/
        font-size: 1.7rem;

    }



    img {
        max-width: 100%;
        height: auto;
    }

    section {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0;
    }

    #footer {
        position: relative;
        top: -11.4vw;
        background-color: gainsboro;
    }

    #footer p {
        display: flex;
        justify-content: center;
        color: rosybrown;


    }

    /*

    #header nav {
        height: 10vh;
        padding: 1.2rem;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 1.2rem;
        text-align: right;
        display: inline-block;
        justify-content: space-around;
        font-family: 'Rock Salt', cursive;


    }

    #header nav a {
        position: relative;
        display: inline-block;
        padding: 7px;
                background-color: papayawhip;
        width: 100px;
        padding: 8px 40px;
        margin: -7px;
        border-radius: 20px;
        text-align: center;
        max-width: 1200rem;
        color: burlywood;



        left: 11vw;
        top: -0.8vw;

        column-gap: 20px;


    }
*/






    #third_section .section_wrapper {
        display: grid;
        grid-template-columns: 3fr 3fr;

        column-gap: 70px;
        /*        padding: 90px 3px;*/
        margin-left: 173px;


    }


    #third_section .section_wrapper .bill {
        display: grid;
        grid-column: 2/2;
        grid-row: 1/2;
        column-gap: 10px;
        margin-left: 20px;

        width: 20vw;


    }






    #third_section h4 {
        text-align: center;
    }





    #third_section #tekst {

        position: relative;

        top: -4.5vw;
        left: -1vw;


    }

    .button {


        position: relative;
        left: 26vw;

        top: -3vw;

        max-width: 60%;
    }


    .js {
        position: relative;
        top: -13vw;
        left: 27vw;

    }


}
